* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./upskill2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

main {
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 0px 3px 3px gray;
    padding: 1rem 2rem;
    max-width: 60%;
    background-image: url("./upskill.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

main h1 {
    font-family: "Lexend";
    margin: 0px;
    opacity: .95;
}

main .form-control {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(94, 81, 81, 0.897);
    padding: .5rem 0rem;
    font-family: "Lexend";
    width: 100%;
}

main form .form-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
    padding-bottom: .3rem;
}

form .input-div {
    width: 100%;
}

.btn {
    padding: .5rem 1rem;
    outline: none;
    transition: .3s all;
    border-radius: 0px;
    margin: 5px 0px;
    border: none;

}

.btn.btn-send {
    background-color: #7f452e;
    color: white;
    font-family: "Lexend";
}

.info-section {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 4rem;
    height: 100%;
}

.info-section form {
    height: 100%;
    width: 100%;
}

.info-section .info-div {
    border-left: 2px solid gray;
    height: fit-content;
    padding: 1rem;
    font-family: "Lexend";
    padding-right: 2rem;
}

.info-section .info-div p {
    font-size: 10px;
}

.download {
    display: flex;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    padding-left: 20px;
}

.download::before {
    content: ">";
    position: absolute;
    transform: rotate(90deg);
    left: 0px;
    height: 15px;
    font-family: "lexend";
    font-size: 16px;
    width: 15px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;

}

nav .brand {
    color: blue;
    font-family: "lexend";

}